#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}

server:
{% for item in kvm.network%}
{% if 'ip' in item %}
    local-data: "{{ inventory_hostname }}.{{ network_domains[item.bridge] }} 60 IN A {{ item.ip.split('/')[0] }}"
    local-data: "{{ item.ip.split('/')[0].split('.') | reverse | join('.') }}.in-addr.arpa 60 IN PTR {{ inventory_hostname }}.{{ network_domains[item.bridge] }}"
{% endif %}
{% endfor %}
